*,
*::before,
*::after {
  outline: 1px dashed red;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .dashboard { */
/*   display: flex; */
/*   height: 100vh; /1* Full screen height *1/ */
/*   width: 100vw; /1* Full screen width *1/ */
/*   flex-direction: column; */
/*   background-color: white; */
/* } */

/* className={classNames( */
/*           'mx-1 grid  grid-rows-[min-content,1fr] gap-y-4 overflow-y-scroll p-2 px-2', */
/*           config.enable_checkboxes */
/*             ? 'grid-cols-[0.12fr,1fr,0.6fr,1fr,0.6fr,1fr]  lg:grid-cols-[0.12fr,1fr,0.9fr,1fr,0.9fr,1fr]' */
/*             : 'grid-cols-[1fr,0.6fr,1fr,0.6fr,1fr]  lg:grid-cols-[1fr,0.9fr,1fr,0.9fr,1fr]', */
/*         ) */

/* 'mx-1 grid  grid-rows-[min-content,1fr] gap-y-4 overflow-y-scroll p-2 px-2', */

/* <div className="m-0 flex h-full justify-between overflow-hidden p-0"> */
body {
  display: flex;
  /* overflow: hidden; */
  flex-direction: column;
  background: #222;
  color: #eee;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
}

header h1 {
  margin: 0;
}

main {
  /* background: transparent; */
  overflow: hidden;
  height: 100%;
}

footer {
}

.log-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  overflow-y: scroll;
  height: 100%;
}

.action-list {
  color: #fff;
}

.action-list a {
  color: #fff;
}

.action-list a:hover {
  color: #ff0;
}

.log-list-li {
  /* background: transparent; */
}
